<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
    <% } %>
    <%- include('partials/header') %>
    <div class="flex w-screen">
        <div class="options w-1/4">

        </div>
        <div class="products w-3/4 py-20 flex flex-col flex-wrap gap-8">
           <h2 class="font-bold text-3xl">Create new product</h2>
           <h3 class="font-bold text-xl">Product Details</h3>
           <form action="/products/create" method="post" class="flex flex-col gap-2" enctype="multipart/form-data">
                <label for="product_image">Product Image</label>
                <input type="file" name="product_image">
                <div class="flex flex-wrap gap-4">
                    <input type="text" class="bg-gray-100 outline-none rounded-md text-black w-1/3 px-4 py-1" name="name" placeholder="Product Name">
                    <input type="text" class="bg-gray-100 outline-none rounded-md text-black w-1/3 px-4 py-1" name="price" placeholder="Product Price">
                    <input type="text" class="bg-gray-100 outline-none rounded-md text-black w-1/3 px-4 py-1" name="discount" placeholder="Discount Price">
                </div>
                <h3 class="font-bold text-xl">Panel Details</h3>
                <div class="flex flex-wrap gap-4">
                    <input type="text" class="bg-gray-100 outline-none rounded-md text-black w-1/3 px-4 py-1" name="bgcolor" placeholder="Background Color">
                    <input type="text" class="bg-gray-100 outline-none rounded-md text-black w-1/3 px-4 py-1" name="panelcolor" placeholder="Panel Color">
                    <input type="text" class="bg-gray-100 outline-none rounded-md text-black w-1/3 px-4 py-1" name="textcolor" placeholder="Text Color">
                </div>
                <input type="submit" value="Create New Product" class="bg-blue-500 rounded-md w-fit px-4 py-1 text-white font-semibold">
           </form>
        </div>
    </div>
</body>
</html>